#tb_table {
	width:90%;
	margin:auto;
	margin-bottom:3em;
}
#tb_table td, #tb_table th  {
	padding:3px;
	text-align:center;
	border:1px solid #2e2e2e;
	background-color: #e0e4cc;
}
#tb_table th {
	padding-top:1px;
	padding-bottom:1px;
	line-height:20px;
	font-weight:bold;
	background-color:#f38630;
	color:#fff;
}

#tb_table th.title, #tb_table th.title a {
	font-size:15px;
	font-weight:bold;
	line-height:30px;
	background-color:#2e2e2e; 
	color:#fff;
}

#tb_table tr:nth-child(even) td {
	background-color:#fff;
}
#tb_table  tr.balance td {
	background-color:#a7dbd8;
	font-weight:bold;
}

/* TABLE FOR INPUT FIELDS */
#tb_fields{
	width:95%;
	margin:auto;
	margin-bottom:1em;
	border-collapse:separate;
	border-spacing: 1em 1.25em;
}
#tb_fields td, #tb_fields th {
	text-align:left;
}
#tb_fields td.center {
	text-align:center;
	padding-top:3%;
}

/* TABLE FOR SETTINGS */
#tb_set{
	width:90%;
	border-collapse:separate;
	border-spacing: 2em .75em;
	color:#2e2e2e;